body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

div {
    margin-bottom: 50px;
}

/* Add these styles for the progress bar */
#progressBarContainer {
    margin-top: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease;
}


input, button {
    border: border
    margin-right: -4px;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
